.footer{
    background-color: #F8F8F8;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer hr{
    margin-top: 40px;
    margin-bottom: 70px;
}

.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer_bottom{
display: flex;
align-items: center;
justify-content: space-between;
}




@media(max-width:401px){
    .footer{
        width: 400px;
    }

    .footer_bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}