.header{
    margin: 15px auto 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
} 
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.logo span{
    color: #FF7500;
}

.href{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.menu .btn{
    width: 155px;
    height: 39px;
    background: #FF7500;
    border: none;
    color: #fff;
    border-radius: 4px;
}


.menu li:nth-of-type(1){
    border-bottom: 3px solid #FF7500;
}

.pr2{
    display: none;
}

.btn:hover{
     width: 170px;
    height: 50px;

    .pr1{
        display: none;
    }

    .pr2{
        display: block;
        background-color: red;
        border-radius: 50%;
        padding: 2px;
    }

    background-color: rgb(0, 255, 47);
   
}


.burger{
    display: none;
}


@media(max-width: 721px){
    .menu{
       display: none;
    }

    .burger{
        display: block;
        left: -100px;
    }



    .menu .btn{
        width: 100px;
        height: 30px;
    }

    li{
        font-size: 12px;
    }
}



